---
// src/pages/index.astro
// Lógica de servidor (opcional)
const title = "Mi Sitio Simple";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title>{title}</title>
  </head>
  <body>
     <a href="/">Home</a>
     <a href="/about/">About</a>
	 <a href="/blog/">Blog</a>
    <h1>¡Hola, {title}!</h1>
    <p>Esta es una página de Astro simple.</p>
  </body>
</html>